<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>category</title>
</head>
<body>
    <div id="navbar-fixed">
        <div class="logo">
            <h5>아나뿜다:</h5>
            <h5>아껴쓰고, 나눠쓰고, 뿜빠이하고, 다시쓰고</h5>
        </div>
        <div class="searchbar">
            <h5>필요한 물품, 식량 검색</h5>
        </div>
        <div class="right">
            <h6>HOME</h6>
            <h6>고객센터</h6>
            <h6>회원가입</h6>
            <h6>로그인</h6>
        </div>
    </div>
    <div class="check">
        <div class="check-box">
            <p>인원</p>
        </div>
        <div class="check-box">
            <p>위치</p>
        </div>
        <div class="check-box">
            <p>가격</p>
        </div>
        <div class="check-box-longer">
            <p>필터 추가하기</p>
        </div>
    </div>
    {% block content %}
    <div class="categories">
        <div class="vertical-rec"></div>
        <div class="category-intro">
            <h4>아나뿜다와 뿜빠이 할 수 있는</h4>
            <h2>야식</h2>
            <h6>혼자 사면 비싸고 많지만, 뿜빠이 한다면?</h6>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>피자먹자</p>
                <p>피자</p>
            </div>
            <div class="hashtags">
                <p>#피자헛</p>
                <p>#도미노피자</p>
                <p>#피자에땅</p>
                <p>#수제피자</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>치킨먹자</p>
                <p>치킨</p>
            </div>
            <div class="hashtags">
                <p>#BBQ</p>
                <p>#수원왕갈비통닭</p>
                <p>#뿌링클</p>
                <p>#네네치킨</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>보쌈먹자</p>
                <p>보쌈</p>
            </div>
            <div class="hashtags">
                <p>#놀부보쌈</p>
                <p>#보쌈뽀쌈</p>
                <p>#보쌈친구들</p>
                <p>#보쌈먹어요</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>떡볶이 먹읍시다</p>
                <p>떡볶이</p>
            </div>
            <div class="hashtags">
                <p>#피자헛</p>
                <p>#도미노피자</p>
                <p>#피자에땅</p>
                <p>#수제피자</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>족발 한발?</p>
                <p>족발</p>
            </div>
            <div class="hashtags">
                <p>#피자헛</p>
                <p>#도미노피자</p>
                <p>#피자에땅</p>
                <p>#수제피자</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>닭발 먹자</p>
                <p>닭발</p>
            </div>
            <div class="hashtags">
                <p>#피자헛</p>
                <p>#도미노피자</p>
                <p>#피자에땅</p>
                <p>#수제피자</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>삼겹살 같이먹을까?</p>
                <p>삼겹살</p>
            </div>
            <div class="hashtags">
                <p>#삼겹살 굽기</p>
                <p>#오겹살 굽기</p>
                <p>#하남돼지집</p>
                <p>#소고기</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>마라샹궈 하나..?</p>
                <p>마라샹궈</p>
            </div>
            <div class="hashtags">
                <p>#마라탕</p>
                <p>#마라샹궈 맛집</p>
                <p>#마라</p>
                <p>#마라마라</p>
            </div>
        </div>
        <div class="categories-rec">
            <img src="#" alt="">
            <div class="title">
                <p>찜닭 찌자</p>
                <p>찜닭</p>
            </div>
            <div class="hashtags">
                <p>#안동찜닭</p>
                <p>#내가 찜한 닭</p>
                <p>#꼬꼬아찌</p>
                <p>#수제피자</p>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>