{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'category-food.css'%}">
    <link rel="stylesheet" href="{%static 'thumbnails.css'%}">
    <title>category</title>
</head>
<body>
    <!-- navbar-fixed -->
    <!-- <div id="navbar-fixed">
    </div> -->
    <div id="navbar-fixed">
        <a href="{% url 'home' %}">
            <div class="logo">
                <!-- <img class="logo" src="{% static 'bbom.png' %}" alt="logo"> -->
                <img class="logo" src="{% static 'bbom.png'%}" alt="logo">
            </div>
        </a>    
                <!-- <img class="searchicon" src="{% static 'searchbbom.png' %}" alt="searchicon"> -->
                
                <div  class="search" ><img class="searchicon" src="{% static 'searchbbom.png'%}" alt="searchicon">필요한 물품, 식량 검색</div>
        <div class="right">
            <h6 class="right1"><a href="{% url 'home' %}">HOME</a></h6>
            <h6 class="right1"><a href="#">고객센터</a></h6>
            <h6 class="right1"><a href="{% url 'signup'%}">회원가입</a></h6>
            <h6 class="right1"><a href="{% url 'login'%}">로그인</a></h6>
        </div>
    </div>
    <!-- //navbar-fixed -->
    <!-- check -->
    <div class="line"></div>
    <div class="check">
        <div class="check-box">인원</div>
        <div class="check-box">위치</div>
        <div class="check-box">가격</div>
        <div class="check-box">필터 추가하기</div>
    </div>
    <div class="line"></div>
    <!-- //check -->
    <div class="categories">
       
                <div class="category-intro">
                        <div class="vertical-rec"></div>
                        <div class="cintro">아나뿜다와 뿜빠이 할 수 있는</div> 
                        <div class="cintro-big">야식</div> 
                </div>
                <div class="cintro2">혼자 사면 비싸고 많지만, 뿜빠이 한다면?</div>
        
        <div class="sayhello">
                <div class="categories-two">
                        <div class="menu-rec">
                            <div class="menu-rec-in">
                                <div class="menu">MENU</div>
                                <div class="small-line"></div>
                                <div class="menu-items">
                                {% for m in menus %}
                                    <a href="{{m.get_absolute_url}}">
                                        <div class="color-rec">
                                            <div class="items-title">{{m.name}}</div>
                                        </div>
                                    </a>                    
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="sayhi">
                    {% for l in menulist %}
                        <a href="{% url 'detail' l.pk %}">
                            <div class="categories-rec">
                                <div class="title">
                                    {{l.title}}
                                    {{l.author}}
                                    {{l.univ}}
                                    {{l.summary}}
                                </div>
                                <div class="hashtags">
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
        </div>
        

        <!-- <div class="categories-two">
                <div class="menu-rec">
                        <div class="menu-rec-in">
                                <div class="menu">MENU</div>
                                <div class="small-line"></div>
                                <div class="menu-items">
                                
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec"> 
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                    <div class="color-rec">
                                        <div class="items-intro"></div>
                                        <div class="items-title"></div>
                                    </div>
                                 
                            
                                </div>
                        </div>
                        
                    </div>
                    <div class="categories-recs">
                            <div class="categories-rec">
                                <img src="#" alt="">
                                <div class="title">
                                    피자
                                </div>
                                <div class="hashtags">
                                </div>
                            </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                        치킨
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                        보쌈
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                        떡볶이
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">

                                        족발
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                      
                                        닭발
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                        
                                        삼겹살
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                       
                                        마라샹궈
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                                <div class="categories-rec">
                                    <img src="#" alt="">
                                    <div class="title">
                                        찜닭
                                    </div>
                                    <div class="hashtags">
                                    </div>
                                </div>
                    </div> -->
                    
        </div> 

    </div>
</body>
</html>