{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% extends "category_food.html" %}
{% block content %}

    <div class="alldisplay">
        <div class="head">
            <div class="title">
                <h3>{{ post.title }}</h3>
            </div>
            <div class="usernametime">
                <h5>{{ post.author }}</h5>
                <h5>{{ post.timeset }}</h5>
            </div>
        </div>

        <div class="content">
            <h5><img src="{{ post.img.url }}" width="20%" height="20%"/></h5>
            <h5>{{ post.content }}</h5>
        
            <div class="buttons">
                <a href="{% url 'thumbnails' %}"><button type="button" class="btn btn-outline-secondary">back</button></a>
                {% if user.is_authenticated and post.author == user.username %}
                <a href="{% url 'edit' post.pk %}"><button type="button" class="btn btn-outline-secondary">edit</button></a>
                <a href="{% url 'delete' post.pk %}"><button type="button" class="btn btn-outline-secondary">delete</button></a>
                {% endif %}
            </div>
        </div>

        <div class="commentform">
            <h3>댓글</h3>
            <div class="commentlist">
                <ul>
                {% for comment in post.comments.all %}
                    <li>{{ comment.content }}
                        {% if user.is_authenticated and comment.author == user.username %}
                        <a href="{% url 'delete_comment' post.pk comment.pk %}"><button type="button">삭제</button></a>
                        {% endif %}
                    </li>   
                {% endfor %}
                </ul>
            </div>
            
            <div class="comment">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-secondary">comment</button>
                </form>
            </div>
        </div>
    </div>  

{% endblock %}