{% extends "category-food.html" %}
{% block content %}
<style>
    ul{
       list-style:none;
       padding-left:0px;
       }
</style>
<div class="wrap">
    <div class="alldisplay">    
        <div class="head">
            <div class="title">
                <h3 style="font-weight:bold">{{ post.title }}</h3>
            </div>
            <h5 style="color:gray;">{{ post.author }}</h5>
            <div class="time">
            </div>
        </div>

        <div class="content">
            <div class="img">
                <h5><img src="#" width="20%" height="20%"/></h5>
            </div>
            <h5>{{ post.content }}</h5>
            <div class="buttons">
                <a href="#"><button type="button" class="button">돌아가기</button></a>
                {% if user.is_authenticated and post.author == user.username %}
                <a href="{% url 'edit' post.pk %}"><button type="button" class="button">수정하기</button></a>
                <a href="{% url 'delete' post.pk %}"><button type="button" class="button">삭제하기</button></a>
                {% endif %}
            </div>    
        </div>  

    </div>

    <div class="commentform">
        <h3 style="font-weight:bold">댓글</h3>
        <div class="commentlist">
            <ul>
            {% for comment in post.comments.all %}
                <li>{{ comment.content }}
                    {% if user.is_authenticated and comment.author == user.username %}
                    <a href="{% url 'delete_comment' post.pk comment.pk %}">
                        <img src="https://www.flaticon.com/free-icon/garbage_126468#term=trash%20can&page=1&position=2" width="5%" height="5%" />
                    </a>
                    {% endif %}
                </li>   
            {% endfor %}
            </ul>
        </div>
        
        <div class="comment">
            <form method="POST" class="inputcomment">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">올리기</button>
            </form>
        </div>
    </div>
</div>    

{% endblock %}