{% extends "category-food.html" %}
{% load staticfiles %}
    {% block content %}
    <div class="alldisplay">
        <h3 style="font-weight:bold">수정하기</h3>
        <form method="POST" id="postForm" data-summaries-url="{% url 'ajax_load_summaries' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-outline-danger">BBOOM!</button>
        </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_univ").change(function () {
        var url = $("#postForm").attr("data-summaries-url");  // get the url of the `load_cities` view
        var univId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
            'univ': univId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_summary").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

        });
    </script>
    </div>
    {% endblock %}