<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>home</title>
</head>
<body>
    <div id="bbom">
        <!-- navbar -->
        <div class="navbar">
            <div class="logo">
                <img class="logo" src="{% static 'bbom.png' %}" alt="logo">
            </div>
                <div class="search">
                    <img class="searchicon" src="{% static 'searchbbom.png' %}" alt="searchicon">
                    <div>필요한 물품, 식량 검색</div>
                </div>
            <div class="right">
                <h6 class="right1"><a href="{% url 'home'%}">HOME</a></h6>
                <h6 class="right1"><a href="#">고객센터</a></h6>
                <h6 class="right1"><a href="{% url 'signup'%}">회원가입</a></h6>
                <h6 class="right1"><a href="{% url 'login'%}">로그인</a></h6>
            </div>
        </div>
        <!-- //navbar -->
    
        <!-- intro -->
        <div class="bigger">
            <h1><img class="bigger" src="{% static 'bigbbom.png' %}" alt="biglogo"></h1>
        </div>
        <h2 class="intro">본격 안암 자취생 구제 프로젝트</h2>
        <h2 class="opacity-intro">안암 자취생 구제 프로젝트</h2>
        <a href="{% url 'new'%}">
                <div class="button">
                        <div class="up">올리기</div>
                    </div>
                    
        </a>
        <p class="teamname">고려대학교 NEXT X 멋쟁이사자처럼 미니해커톤 TEAM 3</p>
        <!-- //intro -->
    </div>
    
    <div class="category-intro">
        <div class="category-intro">
            <div class="vertical-rec"></div>
            <div class="cintro">아나뿜다와 뿜빠이 할 수 있는 목록</div>
        </div>
    </div>
    <div class="cintro2">혼자 사면 비싸고 많지만, 뿜빠이 한다면?</div>
    

    <!-- bigcategory -->
    <div class="bigcategory">
        {% for c in categories %}
        {% if forloop.first %}
            <a href="{{c.get_absolute_url}}">
                <div class="rectangle">
                        <div class="contents">
                            <img class="images" src="{% static '3.png'%}" alt="material">
                            <div class="category-intro2">혼자 사면 비싼 생필품, 혼자가 아니라면?</div>
                            <div class="category-name">생필품</div>
                        </div>
                    </div> 
                    
            </a>
        {% endif %}
        {% endfor %}
            <a href="{% url 'menu_list' %}">
                    <div class="rectangle">
                            <div class="contents">
                                <img class="images" src="{% static '2.jpg' %}" alt="foods">
                                <div class="category-intro2">혼자 먹기 버거운 야식, 혼자가 아니라면?</div>
                                <div class="category-name">야식</div>
                            </div>
                        </div>
            
            </a>
            
        {% for c in categories %}
        {% if forloop.last %}
            <a href="{{c.get_absolute_url}}">
            <div class="rectangle">
                <div class="contents">
                    <img class="images" src="{% static '1.png' %}" alt="material">
                    <div class="category-intro2">혼자 사면 넘쳐나는 식재료, 혼자가 아니라면?</div>
                    <div class="category-name">식재료</div>
                </div>
            </div>
            </a>
        {% endif %}
        {% endfor %}

        <div class="rectangle">
            <div class="contents">
                <img class="images" src="{% static '4.png' %}" alt="snack">
                <div class="category-intro2">혼자 사면 많은 간식, 혼자가 아니라면?</div>
                <div class="category-name">간식</div>
            </div>
            
        </div>

    </div>
    <!-- //bigcategroy -->
    {% comment %} {% for p in posts %}
        <li>
            <a href="{% url 'detail' post.pk %}">{{p.title}}</a>
        </li>
    {% endfor %} {% endcomment %}
</body>
</html>