{% extends "category-food.html" %}
{% block content %}
<ul>
    <li>
        <a href="{% url 'product_list' %}">productlist</a>
    </li>
    {% for c in categories %}
        <li>
            <a href="{{c.get_absolute_url}}">{{c.name}}</a>
        </li>
    {% endfor %}
    {% if request.get_full_path == "/Food/" %}
        {% for m in menus %}
            <li>
                <a href="{{m.get_absolute_url}}">{{m.name}}</a>
        {% endfor %}
    {% endif %}
    {% for p in products %}
        <li>
            <a href="{% url 'detail' p.pk %}">{{p.title}}</a>
        </li>
    {% endfor %}

</ul>
{% endblock %}