<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'new.css'%}">
  <link rel="stylesheet" href="{% static 'category-food.css' %}">
</head>
<body>
    <div id="navbar-fixed">
        <div class="logo">
            <!-- <img class="logo" src="{% static 'bbom.png' %}" alt="logo"> -->
            <img class="logo" src="{% static 'bbom.png'%}" alt="logo">
        </div>
                <!-- <img class="searchicon" src="{% static 'searchbbom.png' %}" alt="searchicon"> -->
                
                <div  class="search" ><img class="searchicon" src="{% static 'searchbbom.png'%}" alt="searchicon">필요한 물품, 식량 검색</div>
        <div class="right">
            <h6 class="right1"><a href="#">HOME</a></h6>
            <h6 class="right1"><a href="#">고객센터</a></h6>
            <h6 class="right1"><a href="{% url 'signup'%}">회원가입</a></h6>
            <h6 class="right1"><a href="{% url 'login'%}">로그인</a></h6>
        </div>
    </div>
    <div class="alldisplay">
        <h3 style="font-weight:bold">새로운 뿜빠이</h3>
        <form method="POST" id="postForm" data-summaries-url="{% url 'ajax_load_summaries' %}" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <button type="submit" class="btn btn-outline-danger">BBOOM!</button>
        </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    $("#id_univ").change(function () {
      var url = $("#postForm").attr("data-summaries-url");  // get the url of the `load_cities` view
      var univId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'univ': univId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_summary").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    </script>
    </div>
</body>
</html>
  