<!DOCTYPE html>
<html lang="en">
    {% extends 'category_food.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>thumbnails</title>
</head>
<body>
    {% block content %}
        <div class="vertical-rec"></div>
        
        <!-- category-intro -->
        <div class="category-intro">
            <h4>아나뿜다와 뿜빠이 할 수 있는</h4>
            <h2>치킨</h2>
            <h6>혼자 사면 비싸고 많지만, 뿜빠이 한다면?</h6>
        </div>
        <!-- //category-intro -->

        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">방금전</h5>
            <h3 class="title">피자 같이 먹으실 분 구해요</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #피자
                #도미노피자
                #곧 마감 되어요
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">5분 전</h5>
            <h3 class="title">치킨 뿜빠이 합시다</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #치킨
                #비비큐
                #뿌링클도 괜찮
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">5분전</h5>
            <h3 class="title">보쌈 먹고 싶은데..</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #보쌈
                #족발
                #보쌈세트
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">6분전</h5>
            <h3 class="title">피자 치킨 반씩 뿜빠이 하실분</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #피자
                #치킨
                #뿌링클도미노
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">10분전</h5>
            <h3 class="title">족발 좀 먹자</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #족발
                #족발 같이 시킵시다
                #곧 마감 되어요
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">10분전</h5>
            <h3 class="title">피자 같이 먹으실 분 구해요</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #피자
                #도미노피자
                #곧 마감 되어요
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">15분전</h5>
            <h3 class="title">닭발 먹을 사람</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #닭발
                #닭발좀
                #곧 마감 되어요
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">15분전</h5>
            <h3 class="title">엽기떡볶이 3인팟</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #엽떡
                #엽기 떡볶이
                #곧 마감 되어요
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">방금전</h5>
            <h3 class="title">치킨 같이 먹으실 분 구해요</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #뿌링클
                #세트로 먹자
                #곧 마감 되어요
                #혼자먹기 많아요
            </div>
        </div>
    {% endblock %}
</body>
</html>