<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'category-food.css'%}?ver=1">
    <link rel="stylesheet" href="{%static 'thumbnails.css'%}?ver=1">
    <style>
        .category-intro {
            display: flex;
        }

    
    </style>
    
</head>
<body>
        <div id="navbar-fixed">
                <div class="logo">
                    <!-- <img class="logo" src="{% static 'bbom.png' %}" alt="logo"> -->
                    <img class="logo" src="{% static 'bbom.png'%}" alt="logo">
                </div>
                        <!-- <img class="searchicon" src="{% static 'searchbbom.png' %}" alt="searchicon"> -->
                        
                        <div  class="search" ><img class="searchicon" src="{% static 'searchbbom.png'%}" alt="searchicon">필요한 물품, 식량 검색</div>
                <div class="right">
                    <h6 class="right1"><a href="#">HOME</a></h6>
                    <h6 class="right1"><a href="#">고객센터</a></h6>
                    <h6 class="right1"><a href="{% url 'signup'%}">회원가입</a></h6>
                    <h6 class="right1"><a href="{% url 'login'%}">로그인</a></h6>
                </div>
            </div>


        {% if request.get_full_path == "/Nec/" %}
        <div class="contentlist">
                <div class="category-top">
                <div class="category-intro">
                        <div class="vertical-rec"></div>
                        <div class="cintro">아나뿜다와 뿜빠이 할 수 있는</div> 
                        <div class="cintro-big">야식</div> 
                </div>
                <div class="cintro2">혼자 사면 비싸고 많지만, 뿜빠이 한다면?</div>
        </div>
                <div class="detailcontents">
                    {% for p in products %}
                        <a href="{% url 'detail' p.pk %}">{{p.title}}</a>
                    {% endfor %} 
                </div>
            </div>
        </div>
        {% endif %}
        
        
        {% if request.get_full_path == "/Food/" %}
        <div class="line"></div>
        <div class="check">
            <div class="check-box">인원</div>
            <div class="check-box">위치</div>
            <div class="check-box">가격</div>
            <div class="check-box">필터 추가하기</div>
        </div>
        <div class="line"></div>
        <!-- //check -->
        <div class="categories">
       
            <div class="category-intro">
                <div class="vertical-rec"></div>
                <div class="cintro">아나뿜다와 뿜빠이 할 수 있는</div> 
                <div class="cintro-big">야식</div> 
            </div>
            <div class="cintro2">혼자 사면 비싸고 많지만, 뿜빠이 한다면?</div>
        
        
            <div class="categories-two">
                <div class="menu-rec">
                    <div class="menu-rec-in">
                        <div class="menu">MENU</div>
                        <div class="small-line"></div>
                        <div class="menu-items">
                        {% if request.get_full_path == "/Food/" %}
                        {% for m in menus %}
                            <a href="{{m.get_absolute_url}}">
                                <div class="color-rec">
                                    <div class="items-title">{{m.name}}</div>
                                </div>
                            </a>                    
                        {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        <div class="sayhi">
        {% for p in products %}
            <a href="{% url 'detail' p.pk %}">
                <div class="categories-rec">
                    <div class="title">
                        {{p.title}}
                        {{p.autor}}
                        {{p.univ}}
                        {{p.summary}}
                    </div>
                    <div class="hashtags">
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
        {% endif %}


        {% if request.get_full_path == "/Material/" %}
            <div class="contentlist">
                <div class="vertical-rec"></div>
                <!-- category-intro -->
                <div class="category-intro">
                    <h4>아나뿜다와 뿜빠이 할 수 있는</h4>
                    <h2>식재료</h2>
                    <h6>혼자 사면 비싸고 많지만, 뿜빠이 한다면?</h6>
                </div>
                <div class="detailcontents">
                    {% for p in products %}
                        <a href="{% url 'detail' p.pk %}">{{p.title}}</a>
                    {% endfor %} 
                </div>
            </div>
        </div>
        {% endif %}
    
                
           
</body>
</html>
    