
    {% extends 'category_food.html' %}
    {% block content %}
        <div class="vertical-rec"></div>
        
        <!-- category-intro -->
        <div class="category-intro">
            <h4>아나뿜다와 뿜빠이 할 수 있는</h4>
            <h2>생필품</h2>
            <h6>혼자 사면 비싸고 많지만, 뿜빠이 한다면?</h6>
        </div>
        <!-- //category-intro -->

        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">방금전</h5>
            <h3 class="title">쌀 같이 나눠 가실분 구합니다</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #쌀
                #혼자는 많아요
                #백미
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">5분 전</h5>
            <h3 class="title">휴지 나눠 가지실분</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #반띵해요
                #세명도 괜찮
                #혼자많아요
                #나눠가집시다
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">5분전</h5>
            <h3 class="title">샴푸 대량으로 사서 나눠가지실분</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #샴푸
                #2+2
                #반띵해요
                #혼자쓰기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">6분전</h5>
            <h3 class="title">치약 대량 구매</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #치약
                #치약 3+3
                #치약치약
                #페리오
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">10분전</h5>
            <h3 class="title">세제 공동구매 해요</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #세제
                #세제 언제 다써
                #곧 마감 되어요
                #나눠가져요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">10분전</h5>
            <h3 class="title">섬유유연제 나눠 가지실분</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #섬유유연제
                #냄새좋음
                #곧 마감 되어요
                #혼자쓰기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">15분전</h5>
            <h3 class="title">칫솔 공동구매</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #칫솔
                #10개 
                #반띵
                #혼자 다못써요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">15분전</h5>
            <h3 class="title">쌀 좀 나눠 가지자</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #쌀
                #쌀쌀해요
                #현미 백미
                #혼자먹기 많아요
            </div>
        </div>
        <div class="contents">
            <img src="#" alt="">
            <h5 class="times">20분전</h5>
            <h3 class="title">샴푸 나눠 가집시다</h3>
            <div class="participated">
                <img src="#" alt="">
            </div>
            <div class="hashtags">
                #샴푸
                #샴푸너무 많은데
                #곧 마감 되어요
                #혼자 다 못써요
            </div>
        </div>
    {% endblock %}