/* 전체 */
.wrap{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 600px;
    margin: 0px 100px;
}

/* 게시물블록 */
.alldisplay{
    border: 1px solid rgba(220, 220, 220, 0.822);
    margin: 50px;
    padding: 30px;
    width: 445px;
    height: 622px;
    object-fit: contain;
    border-radius: 25px;
    box-shadow: 0 2px 8px 1px rgba(183, 183, 183, 0.5);
    background-color: #ffffff;
}

/* "게시물머리" */
.head{
    padding: 10px;
}

/* "제목" */
.title{

}

/* "글쓴이 게시시간" */

.time{
    text-align: right;
}

/* "게시물전체" */
.content{
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.img{
    border-top: 1px solid rgba(220, 220, 220, 0.822);
    border-bottom: 1px solid rgba(220, 220, 220, 0.822);
}


/* "버튼들" */
.buttons{
    padding: 10px;
    text-align: center;
}

.button{
    width: 120px;
    height: 44px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 2px 8px 1px rgba(183, 183, 183, 0.5);
    background-color: #ffffff;
}

/* "댓글전체" */
.commentform{    
    margin: 50px;
    align-content: center;
    border: 1px solid rgba(220, 220, 220, 0.822);
    padding: 30px;
    overflow: hidden;
    width: 445px;
    height: 622px;
    object-fit: contain;
    border-radius: 25px;
    box-shadow: 0 2px 8px 1px rgba(183, 183, 183, 0.5);
    background-color: #ffffff;
}

/* "댓글창" */
.commentlist{
    border: 1px solid rgba(220, 220, 220, 0.822);
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 2px 8px 1px rgba(183, 183, 183, 0.5);
    background-color: #ffffff;
}

/* "댓글남기기" */
.comment{
    margin: 10px
}

/* 댓글남기는창 */
.inputcomment{
    border-radius: 10px;
    box-shadow: 0 2px 8px 1px rgba(183, 183, 183, 0.5);
}