.alldisplay{
    border: 1px solid rgba(220, 220, 220, 0.822);
    margin: 50px auto;
    padding: 30px;
    width: 500px;
    height: 700px;
    object-fit: contain;
    border-radius: 25px;
    box-shadow: 0 2px 8px 1px rgba(183, 183, 183, 0.5);
}

