/* bbom */
#bbom {
    width: 1440px;
    height: 743px;
    border-radius: 80px;
    background-image: radial-gradient(circle at 0 45%, #ffffff, #f58d8f 24%, #e45356 62%, #640a0a);

}
/* //bbom */

/* navbar */
.navbar {

}

.logo {

}

.searchbar {

}

.right {

}

/* //navbar */

/* intro */
.intro {

}

.bigger {

}

.intro {

}

.team3 {

}
/* //intro */